@charset 'utf-8';

main {
    background-color: gray;
    text-align: center;
    width: 400px;
    height: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
}

img {
    width: 100px;
    height: 100px;
    padding: 10px;
}